<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<% include templates/navigation.ejs %>

<div class="container">

    <div class="starter-template">
        <h1>Welcome</h1>
        <p class="lead">

            Welcome to the About page. Here is a ton of information irrelavant information about me. Here is some
            relevant, perhaps need to know information.
            I graduated from Silver Lake High School in 2004 as April Teed.
            I will graduate from Central Community College with an associates degree.</p>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        I was born in Michigan and raised for most of my life in Nebraska. I graduated middle of my class in 2004 from
        Silver Lake High School. My graduating class was about 23 students give or take a few, the school is very small
        and is still functioning. My daughter goes there currently and some of the teachers are still there from when I
        attended. I think it's rather awesome.
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="images/002-6-1.jpg">
            <img class="img-responsive" src="images/002-6-1.jpg" alt="">
        </a>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        After graduating I took a year "off" to basically lounge around my parents house then early 2005 some personal
        things happened and I decided to start college in the fall. Things were going well for me. I had a car, I was
        going to school but I had no means of income and was
        still living with my mom. Nothing wrong with that. Spring 2006 or the whole year I fell off the wagon
        academically and dropped out to work at Wal-mart and various places in between. I am not sure what I was thinking
        at the time, bouncing around from job to job but I was young.
        I do not suggest that at all.
    </div>


    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        I am a starting out programmer capable of coding in HTML and CSS. She is currently trying
        to expand her knowledge and knows a bit of C#, PHP, MySQL, JavaScript and JQuery. I will continue on to get my
        bachelors degree; at what university I am not sure of yet.
    </div>


    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <img class="img-responsive" src="images/1207101300-01.jpg" alt="">

    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        As you can perhaps assume I am an open book when it comes to my life. The only thing I will not talk about is
        politics.


    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Snapchat Gallery</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="images/Snapchat-1521264769.jpg">
                    <img class="img-responsive" src="images/Snapchat-1521264769.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="images/Snapchat-651261544.jpg">
                    <img class="img-responsive" src="images/Snapchat-651261544.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="images/Snapchat-1892385969.jpg">
                    <img class="img-responsive" src="images/Snapchat-1892385969.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="images/Snapchat-1377778840.jpg">
                    <img class="img-responsive" src="images/Snapchat-1377778840.jpg" alt="">
                </a>
            </div>


        </div>
    </div>
</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
